<div id="top-of-page"></div>

<div *ngIf="isFetching" class="progress-bar-container">
  <md-progress-bar mode="indeterminate" color="warn"></md-progress-bar>
</div>

<md-toolbar color="primary" style="position:relative;z-index:10">
  <button class="hamburger" [class.starting]="isStarting" md-button
    (click)="sidenav.toggle()" title="Docs menu">
    <!-- <i class="material-icons">list</i> -->
    <md-icon>menu</md-icon>
  </button>
  <span class="fill-remaining-space"></span>
  <button md-button [disableRipple]=false [mdMenuTriggerFor]="menu">
    <span>{{userDTO.userRealname}}</span>
    <md-icon>arrow_drop_down</md-icon>
  </button>
  <md-menu #menu="mdMenu" [overlapTrigger]="false">
    <button md-menu-item>
      <md-icon>dialpad</md-icon>
      <span>Redial</span>
    </button>
    <button md-menu-item>
      <md-icon>voicemail</md-icon>
      <span>Check voicemail</span>
    </button>
    <button md-menu-item>
      <md-icon>notifications_off</md-icon>
      <span>Disable alerts</span>
    </button>
  </md-menu>
</md-toolbar>
<md-sidenav-container style="width:100%;height:100%" role="main">

  <md-sidenav #sidenav class="sidenav" [mode]="mode">
    <md-nav-list>
      <!-- 只是为了初始化一下md-menu，这样md-menu-item样式就不会出错 -->
      <md-menu></md-menu>
      <button md-menu-item (click)='menuClick($event)'>
        <md-icon>dialpad</md-icon>
        <span>待办</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>Check voicemail</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
    </md-nav-list>
  </md-sidenav>

  <div cdk-scrollable>
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>