<div id="left_col" class="col-md-3 left_col menu_fixed">
  <div class="left_col scroll-view" style="height: 912px;z-index:1040">
    <div class="navbar nav_title" style="border: 0;">
      <a class="site_title"><i class="fa fa-bug"></i> <span>综合管理系统</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile">
      <div class="profile_pic">
        <img src="./rick.jpg" alt="..." class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>欢迎,</span>
        <h2>{{userDTO.userRealname}}</h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section accordion-group active" id="navmenus1111" aria-multiselectable="false">
        <h3>&nbsp;</h3>
        <ul class="nav side-menu">
          <li [ngClass]="setfirstLiClass(menu)" *ngFor="let menu of menus;let i = index">
            <a data-toggle="collapse" (click)="menuClick(menu,$event)" [href]="setMenuId(menu,i,'herf')" data-parent="#navmenus1111">
              <i [ngClass]="setIconClasses(menu)"></i> {{menu.t}} 
              <span *ngIf="menu.c" class="fa fa-chevron-down"></span>
            </a>
            <ul *ngIf="menu.c" [id]="setMenuId(menu,i)" aria-expanded="false" [attr.aria-controls]="setMenuId(menu,i)" class="nav child_menu collapse">
              <li *ngFor="let cmenu of menu.c;let i = index" [ngClass]=setOtherLiClass(cmenu)>
                <a data-toggle="collapse" (click)="menuClick(cmenu,$event)" [href]="setMenuId(cmenu,i,'herf')" [attr.data-parent]="setMenuId(menu,i,1)">
                  <i [ngClass]="setIconClasses(cmenu)"></i> 
                  {{cmenu.t}} 
                  <span *ngIf="cmenu.c" class="fa fa-chevron-down"></span>
                </a>
                <ul *ngIf="cmenu.c" [id]="setMenuId(cmenu,i)" aria-expanded="false" [attr.aria-controls]="setMenuId(cmenu,i)" class="nav child_menu collapse">
                  <li *ngFor="let ccmenu of cmenu.c;let i = index" [ngClass]="setOtherLiClass(ccmenu)">
                      <a (click)="menuClick(ccmenu,$event)" data-toggle="collapse" [href]="setMenuId(ccmenu,i,'herf')" [attr.data-parent]="setMenuId(cmenu,i,1)">
                        <!--<i [ngClass]="setIconClasses(ccmenu)"></i> -->
                        {{ccmenu.t}}
                        <span *ngIf="ccmenu.c" class="fa fa-chevron-down"></span>
                      </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->
    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="" data-original-title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Logout">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
    <!-- /menu footer buttons -->
  </div>
</div>