<div class="container-fluid">
  <div class="row">

  	<div class="col-sm-3">
  		<my-panel title="机构树" [actions]="_orgtree_actions" style="height:100%">
				<my-ztree #panelcontent_ref #orgtree_ref treeId="orgtree" rootNodeName="机构" [actions]="_orgtree_actions" dataUrl="tree/orgtreecontent" (zevent)="onZtreeAction($event)"></my-ztree>			
  		</my-panel>
			<my-modal modalId="orgmodal" [actions]="_orgmodal_actions" (modalevent)="onModalAction($event)">
				<my-orginfo #modalcontent_ref [model]="_model.org" [params]="_orginfo_params"></my-orginfo>
			</my-modal>
    </div>

		<div class="col-sm-6">
			<my-grid #jobgrid_ref gridId="jobmanage" primaryKey="jobId" title="岗位管理" [colModel]="_job_col_model" [actions]="_job_grid_actions" 
				(jqgridevent)="onGridAction($event)" [callback]="jobgridcall"></my-grid>	
			<my-modal modalId="jobmodalid" [actions]="_menumodal_actions" (modalevent)="onModalAction($event)">			
				<my-jobinfo #modalcontent_ref [params]="_jobinfo_params" [model]="_model.job"></my-jobinfo>
			</my-modal>				
		</div>	

		<div class="col-sm-3">
  		<my-panel title="资源管理" style="height:100%">
				<my-ztree #menutree_ref treeId="menutree" rootNodeName="所有菜单" dataUrl="tree/restreecontent" [autoParam]="_menutree_autoParam" (zevent)="onZtreeAction($event)" 
						[actions]="_menutree_actions" selectedMulti="ture" checkEnable="true" [callback]="resTreeCallback" autoCheckTrigger="true">
				</my-ztree>
  		</my-panel>
			<my-modal modalId="testmodalid" [actions]="_menumodal_actions" (modalevent)="onModalAction($event)">
				<my-menuinfo #modalcontent_ref [model]="_model.menu" [params]="_menuinfo_params">
				</my-menuinfo>
			</my-modal>
    </div>

  </div>
</div>