<div *ngFor="let field of fields" [ngSwitch]="field.controlType">
	<f-dropdown-input *ngSwitchCase="'dropdowninput'" [simple]="false" [form]="form" [field]="field" [model]="model"></f-dropdown-input>
	<f-text-input *ngSwitchCase="'textinput'" [simple]="false" [form]="form" [field]="field" [model]="model"></f-text-input>
	<f-datetime-pick *ngSwitchCase="'datetimepick'" [simple]="false" [form]="form" [field]="field" [model]="model"></f-datetime-pick>
	<f-textarea *ngSwitchCase="'textarea'" [simple]="false" [form]="form" [field]="field" [model]="model"></f-textarea>
	<f-select2 *ngSwitchCase="'select2'" [simple]="false" [form]="form" [field]="field" [model]="model"></f-select2>
	<f-checkbox-input *ngSwitchCase="'checkbox'" [simple]="false" [form]="form" [field]="field" [model]="model"></f-checkbox-input>
	<f-file-upload *ngSwitchCase="'fileupload'" [simple]="false" [form]="form" [field]="field" [model]="model"></f-file-upload>
	<f-radio-group *ngSwitchCase="'radiogroup'" [simple]="false" [form]="form" [field]="field" [model]="model"></f-radio-group>
</div>