<div [ngSwitch]="field.isObject" [formGroup]="form" [ngClass]="ngclasses()">
  <label [attr.for]="field.key" class="col-sm-3 control-label">{{field.label}}</label>

  <div *ngSwitchCase="true" [ngSwitch]="field.controlType" class="col-sm-9">
    <input *ngSwitchCase="'textbox'" [formControlName]="field.key" [id]="field.key" [(ngModel)]="model[key1][key2]"
            [id]="field.key" [type]="field.type" class="form-control" data-toggle="tooltip" [title]="isValid?'':_tipmsg">
    <select [id]="field.key" *ngSwitchCase="'dropdown'" [formControlName]="field.key" [(ngModel)]="model[key1][key2]" 
            class="form-control"> 
        <option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</option>
    </select>
  </div> 
  <div *ngSwitchCase="false" [ngSwitch]="field.controlType" class="col-sm-9">
    <input *ngSwitchCase="'textbox'" [formControlName]="field.key" [id]="field.key" [(ngModel)]="model[field.key]"
            [id]="field.key" [type]="field.type" class="form-control" data-toggle="tooltip" [title]="isValid?'':_tipmsg">
    <select [id]="field.key" *ngSwitchCase="'dropdown'" [formControlName]="field.key" [(ngModel)]="model[field.key]" 
            class="form-control"> 
        <option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</option>
    </select>
  </div>

  <!--<div class="errorMessage" *ngIf="!isValid">{{field.label}} is required</div>-->
</div>