<div class="container-fluid">
  <div class="row">
  	<div class="col-sm-3">
  		<my-panel title="字典树" [actions]="_dicttree_actions" style="height:100%">
				<my-ztree #panelcontent_ref #dicttree_ref [ztreeSetting]="_dicttree_setting" 
					 (zevent)="onZtreeAction($event)" [callback]="dictTreeCall"></my-ztree>			
  		</my-panel>
    </div>

		<div class="col-sm-6">
			<my-grid #_dictdatagrid_ref [jqgridSetting]="_dictdata_grid_setting" [colModel]="_dictdata_col_model"  
				(jqgridevent)="onGridAction($event)" [callback]="_dictdatagridcall"></my-grid>
		</div>	

  </div>
</div>